.picture {
	width: 200px;
	height: 200px;
}

nav a{
	display: inline;
} 

.menu {
	text-align: right;
	background-color: #143054;
	margin-left: -1%;
	margin-right: -1%;
	padding-right: 2%;
	margin-top: -1%;
	font-size: 24px;
}

.middle-section{
	margin: 0% 20% 0% 20%;
	background-color: #748ba7;
	padding: 2% 5% 2% 5%;
}

h1 {
	background-color: #4c688b;
	margin-top: -1%;
	margin-left: -1%;
	margin-right: -1%;	
	padding-left: 2%;
}

body {
	background-color: #051b38;

}