body {
	background-image: url("../images/mekong-green.png");
	width: 1280px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr ;
	text-align: center;
	
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
}

h1 {
background-color: #4aaaa5;	
margin-left: 40%;
margin-bottom: 0px;
border-radius: 2%;
color: white;
font-family: 'Georgia', Times, Times New Roman, serif;

}

nav {
	margin-top: 2%;
}

.about-me {
	font-size: 2em;
	border-bottom: 1px solid #cccccc;
	color: #4aaaa5;
	margin-left: 2%;
	margin-right: 2%;
	font-family: 'Georgia', Times, Times New Roman, serif;

}

.picture {
	margin-top: 1%;
	width: 50%;
	height: 50%;
	margin-right: 2%;
	margin-left: 2%;
	float: left;
	border-radius: 1%;
	border-color: black;
}

.intro {
	margin-right: 2%;
	margin-top: 5%;
	font-size: 18px;
}

.middle-section {
	background-color: #ffffff;
	padding-bottom: 20%;
	margin:1% 20% auto 20%;
	border-radius: .5%;
	border: 1px solid #cccccc;

}

p {
	font-size: 100%;
}

ul {
	margin-left: 50%;
}

.contact-info {
	margin-top: 8%;
}